.courseBg{
    background-image: url('../public/banner\ 2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tealBg{
    background-color: #072E33;
}
  