.darkTealBg{
  background-color: #05161A;
}
.tealBg{
  background-color: #072E33;
}
.bannerBg{
  background-image: url('../public/banner\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}